body{background-image: url(/images/image1.jpeg);
    background-size: cover;
    background-attachment: fixed;
    opacity: inherit;
    
    }
    #img{
        float: right;
        width: 30%;
    }
    #heading{
        color: aliceblue;
    }
    #paragraph{
        color: aliceblue;
    }
    #button{
        background-color: aqua;
        border-radius: 20px;
        padding: 20px;
    }
    .container{margin-left: 10%;margin-right: 10%;}